<div class="content">
    <div class="svg-banner-wrap">
        <div class="svg-banner-desktop">
            <div class="container">
                <div class="row">
                    <div class="svg-text-left svg-text-full text-center">
                        <h1>Fast Growing <span style="color:#ffd740">IT</span> Services Company.
                        </h1>
                        <p>We are Highly <strong>Appreciated</strong> &amp; <strong>Trusted</strong> since 2003. Having
                            <strong>Passionate</strong> &amp; <strong>Accountable</strong> 1000+ experts in 5 countries
                            to <strong>Simplifying</strong> lives, in 100+ Countries.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="coreValue" class="gray-box core-values">
        <div class="container">
            <div class="row">
                <h2>Our <b>mission</b> is to Empower and Enhance the lives of <b>Billions of users</b> through Profound
                    technology solutions. We invite you to <b>Think Big</b> and <b>join this movement</b> as our
                    Clients, Partners and Employees.
                </h2>
            </div>
        </div>
    </div>
    <div class="gray-box1 technicalExp ourClients">
        <div class="container">
            <div class="row">
                <div class="platforms clearfix"> <span class="ourClientsHD">Our Clients:</span>
                    <ul class="row">
                        <li>
                            <img class="client" src="/assets/images/clients/our-client1.png" width="81" height="50"
                                alt="">
                        </li>
                        <li> <img class="client" src="/assets/images/clients/our-client2.png" width="95" height="50"
                                alt="">
                        </li>
                        <li> <img class="client" src="/assets/images/clients/our-client3.png" width="158" height="50"
                                alt="">
                        </li>
                        <li> <img class="client" src="/assets/images/clients/our-client4.png" width="107" height="50"
                                alt="">
                        </li>
                        <li> <img class="client" src="/assets/images/clients/our-client5.png" width="100" height="50"
                                alt="">
                        </li>
                        <li> <img class="client" src="/assets/images/clients/our-client6.png" width="81" height="50"
                                alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>